body {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
}

.upper-block {
  height: 900px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #000 32%, #fff 32%, #fff 68%);
}

.up-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.up-page__logo {
  font: 500 30px/36px 'Montserrat-Medium', Arial, sans-serif;
  color: #fff;
  letter-spacing: 2px;
  padding-left: 52px;
  margin-top: 17px;
}

.up-page__language {
  position: relative;
  right: 22.7%;
  background: none;
  border: 0;
  padding-right: 24px;
  cursor: pointer;
  font: 500 20px/24px 'Montserrat-Medium', Arial, sans-serif;
  color: #fff;
  text-align: left;
  margin-top: 16px;
}

.up-page__language::after {
  background: no-repeat url(images/chevrone.svg);
  content: "";
  display: inline-block;
  align-items: center;
  height: 9px;
  width: 12px;
  margin-left: 7px;
  transform: translateY(1px);
}

.menu-block {
  visibility: hidden;
}

#menu-toggle {
  opacity: 0;
  position: absolute;
}

.menu-burger {
  height: 92px;
  width: 92px;
  background: #f5f3f3;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 92px;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.btn > span,
.btn > span::before {
  display: inline-block;
  position: absolute;
  width: 35px;
  height: 3px;
  top: 49px;
  background-color: #000;
  transition-duration: 0.25s;
}

.btn > span::before {
  content: '';
  top: -9px;
}

.nav {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  width: 100%;
  height: 410px;
  top: 116px;
  margin: 0;
  padding: 187px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  transition-duration: 0.25s;
}

.nav-item {
  display: block;
  margin: 0 0 26px 0;
  color: #333;
  font: 500 30px/38px 'Montserrat-Medium', Arial, sans-serif;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #cfd8dc;
}

#menu-toggle:checked ~ .btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .btn > span::before {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .nav {
  visibility: visible;
  left: 0;
  z-index: 3;
}

.upper-block-content {
  display: flex;
  position: relative;
  margin-top: 77px;
}

.upper-block-img {
  background: no-repeat center/100% url(images/1.png);
  width: 549px;
  height: 562px;
  margin-right: 52px;
  margin-left: 13%;
}

.upper-block-info {
  display: flex;
  flex-direction: column;
}

.upper-collection__title {
  font: 700 81px/82px 'Montserrat-Bold', Arial, sans-serif;
  letter-spacing: -0.6px;
  margin: 101px 0 0 0;
  max-width: 475px;
}

.upper-collection__subtitle {
  font: 400 15px/21px 'Montserrat-Regular', Arial, sans-serif;
  margin: 19px 0 0 1px;
  width: 467px;
}

.upper-button {
  margin: 36px 0 0 -2px;
  cursor: pointer;
  display: flex;
}

.button-further {
  display: inline-block;
  font: 500 13px/18px 'Montserrat-Medium', Arial, sans-serif;
  background: none;
  padding: 12px 40px 12px 37px;
  margin-right: 54px;
}

.other-offers {
  display: flex;
  align-items: center;
}

.other-offers__link-up {
  text-decoration: none;
  font: 500 13px/18px 'Montserrat-Medium', Arial, sans-serif;
  margin-right: 19px;
  letter-spacing: -0.1px;
  color: #000;
}

.other-offers__cursor-up {
  background: no-repeat url(images/cursor_main_up.svg);
  text-decoration: none;
  width: 46px;
  height: 12px;
}

.bottom-page {
  display: flex;
}

.im {
  margin: 85px 0 0 52px;
}

.im__inst {
  background: no-repeat url(images/INST.svg);
  content: "";
  display: inline-block;
  text-decoration: none;
  height: 43px;
  width: 43px;
  margin-right: 7px;
}

.im__vk {
  background: no-repeat url(images/VK.svg);
  content: "";
  display: inline-block;
  text-decoration: none;
  height: 43px;
  width: 43px;
  margin-right: 9px;
}

.im__fb {
  background: no-repeat url(images/FB.svg);
  content: "";
  display: inline-block;
  text-decoration: none;
  height: 43px;
  width: 43px;
}

.mouse {
  position: relative;
  margin: 84px auto 0 502px;
  background: no-repeat url(images/mouse.svg);
  width: 27px;
  height: 46px;
}

.middle-block {
  background: #fae8e4;
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: none;
  justify-content: space-evenly;
}

.middle-block-imgs {
  width: 51%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.middle-block-imgs__gray {
  position: absolute;
  width: 69%;
  height: 45%;
  top: 210px;
}

.middle-block-imgs__pink {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 155px;
}

.middle-block-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  min-width: 430px;
  max-width: 488px;
  position: relative;
  margin-top: 10px;
}

.clutch-data {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 44px 63px 44px 55px;
  margin-top: 163px;
  margin-bottom: 38px;
  box-shadow: 27px 27px 40px -20px #0000003b;
}

.clutch_info {
  display: flex;
  flex-direction: row;
}

.title {
  font: 700 40px/41px 'Montserrat-Bold', Arial, sans-serif;
  margin: 0 0;
}

.subtitle {
  font: 700 16px/16px 'Montserrat-Bold', Arial, sans-serif;
  letter-spacing: 1px;
  opacity: 0.5;
}

.description {
  font: 400 15px/21px 'Montserrat-Regular', Arial, sans-serif;
  opacity: 0.5;
}

.clutch-data__subtitle {
  margin: 16px 0 0 0;
}

.clutch-data__description {
  margin: 61px 0 0 0;
}

.color-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}

.color {
  display: flex;
  justify-content: space-between;
}

.color__ellipse {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 12px;
  transform: translateY(25%);
}

.color__ellipse_gray {
  background-color: #dedede;
}

.color__ellipse_pink {
  background-color: #f29f9f;
  transform: translateY(10%);
  width: 37px;
  height: 37px;
}

.color__ellipse_blue {
  background-color: #a8bff9;
}

.color__ellipse_green {
  background-color: #90bd8f;
}

.price {
  font: 700 40px/56px 'Montserrat-Bold', Arial, sans-serif;
  letter-spacing: -1px;
  margin-right: 7px;
}

.cart-form {
  display: flex;
}

.clutch-data__cart-form {
  margin-top: 50px;
}

.quantity {
  border: 2px solid black;
  width: 96px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 15px;
}

.quantity__operation {
  border: none;
  font: 500 15px/0px 'Montserrat-Medium', Arial, sans-serif;
  background: none;
}

.quantity__num {
  border: none;
  text-align: center;
  background: transparent;
  width: 9px;
  font: 500 15px/0px 'Montserrat-Medium', Arial, sans-serif;
}

.button-add {
  display: inline-block;
  font: 500 13px/18px 'Montserrat-Medium', Arial, sans-serif;
  background: none;
  border: 2px solid black;
  padding: 11px 45px 11px 39px;
}

.other-offers__link-middle {
  text-decoration: none;
  font: 500 13px/18px 'Montserrat-Medium', Arial, sans-serif;
  letter-spacing: -0.2px;
  margin-left: 5px;
  margin-right: 16px;
  color: #000;
}

.other-offers__cursor-middle {
  background: no-repeat url(images/cursor_main.svg);
  text-decoration: none;
  width: 243px;
  height: 12px;
  margin-top: 1px;
}

.lower-block {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 900px;
  background: linear-gradient(to right, #ebe3d8 388px, #000 388px, #000 461px, #ebe3d8 461px);
}

.lower-block-img {
  background: no-repeat url(images/photo-1.svg);
  background-size: cover;
  text-decoration: none;
  width: 827px;
  height: 621px;
  position: absolute;
  margin: 139px 0 0 88px;
  box-shadow: 0 27px 40px -20px #0000003b;
}

.lower-block-data {
  width: 100%;
  height: 95%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}

.look-info {
  display: flex;
  flex-direction: column;
  width: 428px;
  padding: 37px 0 45px 47px;
  margin: 60px 10.3% 36px 0;
  background-color: #fae8e4;
  z-index: 1;
}

.look-info__subtitle {
  margin: 15px 0 0 0;
}

.look-info__description {
  margin: 33px 76px 0 3px;
}

.look-info__cart-form {
  margin-top: 56px;
}

.other-offers-lower {
  display: flex;
  align-items: center;
  margin-right: 10.2%;
  z-index: 1;
}

.other-offers__link-lower {
  text-decoration: none;
  font: 500 13px/18px 'Montserrat-Medium', Arial, sans-serif;
  letter-spacing: -0.1px;
  margin-left: 7px;
  margin-right: 13px;
  color: #000;
}

.other-offers__cursor-lower {
  background: no-repeat url(images/cursor_main_down.svg);
  text-decoration: none;
  width: 110px;
  height: 12px;
}

.logo-whs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: 4px;
}

.logo-whs__1 {
  background: no-repeat url(images/logo_whs1.svg);
  text-decoration: none;
  width: 115px;
  height: 15px;
  margin-right: 11px;
}

.logo-whs__2 {
  background: no-repeat url(images/logo_whs2.svg);
  text-decoration: none;
  width: 82px;
  height: 22px;
  margin-right: 21px;
  transform: translateY(3px);
}

@media (max-width: 720px) {
  .upper-block {
    background: no-repeat url(images/girl_mobile1_5.png);
    background-size: cover;
    background-position: 0 13px;
    width: 100%;
    height: 596px;
  }

  .up-page {
    background-color: #fff;
  }

  .up-page__logo {
    color: #000;
    letter-spacing: 2px;
    padding-left: 26px;
    margin-top: 0;
  }

  .up-page__language {
    display: none;
  }

  .menu {
    height: 70px;
    width: 70px;
  }

  .menu__burger {
    width: 26px;
    height: 2px;
    margin-top: 4px;
    transform: translateY(-2px);
  }

  .menu-burger {
    height: 70px;
    width: 70px;
    background: #f5f3f3;
  }

  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: none;
    cursor: pointer;
    z-index: 3;
  }

  .btn > span,
  .btn > span::before {
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 2px;
    top: 38px;
    background-color: #000;
    transition-duration: 0.25s;
  }

  .btn > span::before {
    content: '';
    top: -7px;
  }

  .nav {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    width: 100%;
    height: 152px;
    top: 70px;
    margin: 0;
    padding: 187px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    transition-duration: 0.25s;
  }

  .upper-block-content {
    flex-direction: column;
    position: static;
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 0;
    height: 85%;
  }

  .upper-block-img {
    display: none;
  }

  .upper-collection__title {
    font: 700 51px/52px 'Montserrat-Bold', Arial, sans-serif;
    letter-spacing: -0.7px;
    margin: 0 0 0 26px;
  }

  .bottom-page,
  .upper-collection__subtitle,
  .upper-button {
    display: none;
  }

  .chevrone-mobile {
    align-items: center;
    margin: 22px auto 0 auto;
    background: no-repeat center/100% url(images/Scrooll_mobile.svg);
    width: 32px;
    height: 18px;
    z-index: 1;
  }

  .middle-block {
    flex-direction: column;
    justify-content: normal;
    height: 598px;
  }

  .middle-block-imgs {
    display: flex;
    justify-content: center;
    position: static;
    width: 100%;
    height: 55%;
    margin-top: -53px;
  }

  .middle-block-imgs__gray {
    display: none;
  }

  .middle-block-imgs__pink {
    position: static;
  }

  .middle-block-info {
    display: flex;
    flex-direction: column;
    margin-top: -11px;
    width: 85%;
    height: 50%;
    min-width: 320px;
    max-width: 380px;
  }

  .clutch-data {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px 26px 25px 29px;
    margin-top: 1px;
    margin-bottom: 38px;
    box-shadow: 27px 27px 40px -20px #0000003b;
  }

  .title {
    font-size: 20px;
    line-height: 20px;
  }

  .subtitle {
    font-size: 10px;
    line-height: 10px;
  }

  .description {
    font-size: 9px;
    line-height: 13px;
  }

  .clutch-data__title {
    margin: 2px 0 0 0;
  }

  .clutch-data__subtitle {
    margin: 4px 0 0 2px;
  }

  .clutch-data__description {
    margin: 13px 0 0 2px;
    letter-spacing: 0.1px;
  }

  .color-price {
    margin: 17px 0 0 4px;
  }

  .color__ellipse {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    margin-right: 10px;
    transform: translateY(10%);
  }

  .color__ellipse_pink {
    width: 29px;
    height: 29px;
    transform: translateY(0%);
  }

  .price {
    font-size: 20px;
    line-height: 28px;
    margin-right: 12px;
  }

  .clutch-data__cart-form {
    margin-top: 30px;
  }

  .button-add {
    border: 1px solid black;
    padding: 8px 46px 9px 46px;
  }

  .cart-form {
    justify-content: center;
  }

  .quantity,
  .other-offers {
    display: none;
  }

  .lower-block {
    height: 597px;
    align-items: center;
    background: linear-gradient(to right, #ebe3d8 102px, #000 102px, #000 143px, #ebe3d8 143px);
  }
  
  .lower-block-img {
    background: no-repeat url(images/photo-1.svg);
    background-size: contain;
    width: 92%;
    height: 44%;
    max-width: 351px;
    margin: 34px auto 0 auto;
  }
  
  .lower-block-data {
    height: 100%;
    justify-content: normal;
  }

  .look-info {
    width: 261px;
    height: 141px;
    padding: 26px 20px 28px 24px;
    margin: 273px 7% 38px 0;
  }

  .look-info__title {
    letter-spacing: -0.2px;
  }

  .look-info__subtitle {
    margin: 6px 0 0 0;
  }

  .look-info__description {
    margin: 10px 34px 0 1px;
  }

  .other-offers-lower {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 49px;
    margin-left: 188px;
  }

  .look-info__cart-form {
    margin-top: 20px;
  }

  .other-offers__link-lower {
    font-size: 15px;
    width: 138px;
    margin-left: 0;
    margin-right: 0;
    color: #000;
  }

  .other-offers__cursor-lower {
    background: no-repeat url(images/cursor_mobile.svg);
    width: 134px;
    height: 12px;
    margin: 5px 4px 0 0;
  }

  .logo-whs {
    display: none;
  }
}

@media (min-width: 721px) and (max-width: 1200px) {
  .up-page__logo {
    font-size: 28px;
    padding-left: 18px;
  }

  .up-page__language {
    right: 23.7%;
    font-size: 19px;
  }

  .menu {
    height: 81px;
    width: 81px;
  }

  .menu__burger {
    width: 30px;
    height: 2px;
    margin-top: 5px;
    transform: translateY(-2px);
  }

  .upper-block-img {
    margin-left: 6%;
    margin-right: 36px;
  }

  .upper-block-content {
    width: 100%;
  }

  .upper-block-info {
    width: 50%;
    margin-right: 30px;
  }

  .upper-collection__title {
    font-size: 61px;
    line-height: 62px;
  }

  .upper-collection__subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 345px;
  }

  .button-further {
    padding: 12px 15px 12px 15px;
    margin-right: 25px;
  }

  .other-offers__link-up {
    margin-right: 10px;
  }

  .other-offers__cursor-up {
    background-size: cover;
    background-position-x: right;
  }

  .im {
    width: 27%;
    margin-left: 35px;
  }

  .mouse {
    width: 63%;
    background-position: center;
    margin: 84px 0 0 0;
  }

  .middle-block-imgs {
    width: 50%;
  }

  .middle-block-imgs__pink {
    left: 65px;
  }

  .middle-block-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    min-width: 350px;
    max-width: 430px;
    position: relative;
    margin-top: 10px;
  }

  .clutch-data {
    padding: 30px 35px;
    margin-right: 30px;
  }

  .clutch-data__subtitle {
    margin: 13px 0 0 0;
  }

  .clutch-data__description {
    margin: 34px 0 0 0;
  }

  .color-price {
    margin-top: 30px;
  }

  .color__ellipse {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    transform: translateY(10%);
  }
   
  .color__ellipse_pink {
    width: 32px;
    height: 32px;
    transform: translateY(0%);
  }

  .price {
    font-size: 33px;
  }

  .clutch-data__cart-form {
    margin-top: 33px;
  }

  .quantity {
    display: none;
  }

  .other-offers__cursor-middle {
    background-size: cover;
    background-position-x: right;
    margin-right: 30px;
  }

  .lower-block {
    background: linear-gradient(to right, #ebe3d8 210px, #000 210px, #000 271px, #ebe3d8 271px);
  }

  .lower-block-data {
    height: 93%;
    justify-content: flex-end;
  }

  .lower-block-img {
    background-size: contain;
    width: 80%;
    height: calc(48vw * 1.26);
    max-width: 700px;
    max-height: 525px;
  }

  .look-info {
    width: 402px;
    margin: 60px 10.3% 24px 0;
  }

  .title {
    font-size: 30px;
  }

  .look-info__subtitle {
    margin: 11px 0 0 0;
  }

  .subtitle {
    font-size: 14px;
  }

  .look-info__description {
    margin: 24px 76px 0 3px;
  }

  .description {
    font-size: 13px;
  }

  .look-info__cart-form {
    margin-top: 25px;
  }

  .logo-whs {
    margin-top: 23px;
  }
}

@media (min-width: 1201px) and (max-width: 1377px) {
  .up-page__logo {
    font-size: 29px;
    padding-left: 33px;
  }

  .up-page__language {
    right: 23.7%;
    font-size: 19px;
  }

  .menu {
    height: 81px;
    width: 81px;
  }

  .menu__burger {
    width: 30px;
    height: 2px;
    margin-top: 5px;
    transform: translateY(-2px);
  }

  .upper-block-img {
    margin-left: 10%;
    margin-right: 45px;
  }

  .upper-block-content {
    width: 100%;
  }

  .upper-block-info {
    width: 50%;
    margin-right: 30px;
  }

  .upper-collection__title {
    font-size: 65px;
    line-height: 66px;
  }

  .upper-collection__subtitle {
    font-size: 15px;
    line-height: 20px;
    width: 400px;
  }

  .button-further {
    padding: 12px 15px 12px 15px;
    margin-right: 25px;
  }

  .other-offers__link-up {
    margin-right: 10px;
  }

  .other-offers__cursor-up {
    background-size: cover;
    background-position-x: right;
  }

  .im {
    width: 27%;
    margin-left: 35px;
  }

  .mouse {
    width: 63%;
    background-position: center;
    margin: 84px 0 0 0;
  }

  .lower-block-data {
    height: 93%;
  }

  .lower-block-img {
    background-size: contain;
    width: 55%;
    height: calc(33vw * 1.26);
    max-width: 700px;
    margin: 139px 0 0 78px;
  }

  .look-info {
    width: 402px;
    margin: 60px 7% 24px 0;
  }

  .other-offers-lower {
    margin-right: 7%;
  }
}
